.single_view {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #0412d8;
  font-size: x-large;
  border: solid black 3px;
  margin: 5px;
  border-radius: 10px;
}

.link:hover {
  transform: scale(1.2);
}