header {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-color: #FF5F5F;
}

html {
  background-color: #AAAAAA;
}

.no-articles {
  font-size: xx-large;
  margin: 10% 39%;
}

.title {
  text-shadow: #f9ead7 3px 4px 9px;
  font-size: xxx-large;
}

.secondary {
  margin-top: 8px;
  font-size: larger;
}