html {
  background-color: #AAAAAA;
}

@media screen and (min-width: 60em) {
  header {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: #FF5F5F;
  }

  .no-articles {
    font-size: xx-large;
    margin: 10% 39%;
  }

  .title {
    text-shadow: #f9ead7 3px 4px 9px;
    font-size: xxx-large;
  }

  .secondary {
    margin-top: 8px;
    font-size: larger;
  }
}

@media screen and (max-width: 60em) {
  header {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    background-color: #FF5F5F;
  }

  .title {
    text-shadow: #f9ead7 3px 4px 9px;
    font-size: xx-large;
  }

  .secondary {
    margin-top: 8px;
    font-size: medium;
  }
}





