header {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  margin-bottom: 50px;
  background-color: #FF5F5F;
}

html {
  background-color: #AAAAAA;
}

.no-articles {
  font-size: xx-large;
  margin: 10% 39%;
}