header {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  margin-bottom: 50px;
  background-color: #FF5F5F;
}

.App {
  background-color: #AAAAAA;
}
